* {margin: 0; padding: 0;}
a {text-decoration: none; color: black;}
ul {list-style: none;}

/* top start  */
#top {height: 140px;}
.top_inner {width: 1320px; margin: 0 auto; box-sizing: border-box; position: relative;}
.logo_top {width: 140px; height: 60px; position: absolute; top: 20px; left: 590px;}
.nav {position: absolute; top: 105px; left: 50%; margin-left: -285px;}
.nav>li {float: left;}
.nav>li:nth-child(1) {margin-right: 95px;}
.nav>li:nth-child(2) {margin-right: 95px;}
.nav>li:nth-child(3) {margin-right: 95px;}
.nav>li>a {display: block; font-size: 20px; font-family: 'Arial'; font-weight: bold;}
.nav>li>a:hover {color: #aaa;}
.login {position: absolute; top: 15px; right: 20px;}
.login>li {float: left; margin-left: 20px;}
.login>li>a {display: block; font-size: 16px; font-family: 'Arial';}
.login>li>a:hover {color: #aaa;}
/* top finish */
/* video start */
#video {background-color: white; display: block;}
#video video {width: 100%;}
/* video finish */
/* cont1 start */
#cont1 {height: 700px; background: url(../images/vitalsign.png); background-size: cover;}
.cont1_inner {width: 1320px; margin: 0 auto; box-sizing: border-box; position: relative; text-align: center; padding-top: 40px;}
.title1 {width: 200px; height: 60px; box-sizing: border-box; border: 2px solid black; font-family: 'Arial'; font-size: 30px; font-weight: bold; padding-top: 10px; margin-left: 560px;}
.intro1 {width: 200px; height: 230px; box-sizing: border-box; border: 2px solid black; position: absolute; top: 200px; left: 130px; background: url(../images/intro1.png); background-size: cover; text-align: center; font-family: '맑은고딕'; font-size: 13px; padding-top: 165px;}
.intro2 {width: 200px; height: 230px; box-sizing: border-box; border: 2px solid black; position: absolute; top: 400px; left: 395px; background: url(../images/intro2.png); background-size: cover; text-align: center; font-family: '맑은고딕'; font-size: 13px; padding-top: 165px;}
.intro3 {width: 200px; height: 230px; box-sizing: border-box; border: 2px solid black; position: absolute; top: 160px; right: 360px; background: url(../images/intro3.png); background-size: cover; text-align: center; font-family: '맑은고딕'; font-size: 13px; padding-top: 165px;}
.intro4 {width: 200px; height: 230px; box-sizing: border-box; border: 2px solid black; position: absolute; top: 430px; right: 110px; background: url(../images/intro4.png); background-size: cover; text-align: center; font-family: '맑은고딕'; font-size: 13px; padding-top: 165px;}
/* cont1 finish */
/* banner1 s */
#banner1 {height: 600px; background: #fdfc98; position: relative; overflow: hidden;}
.img1 {width: 452px; height: 516px; position: absolute; top: 60px; left: 300px;}
.banner_text1 {width: 500px; height: 440px; box-sizing: border-box; text-align: center; position: absolute; top: 100px; right: 440px;}
.name {font-family: 'Noto Sans KR'; font-weight: bold; font-size: 49px; margin-bottom: 50px;}
.introduce {font-family: 'Noto Sans KR'; font-size: 30px; margin-bottom: 150px;}
.link1 {display: block; border: 2px solid #888; width: 180px; text-align: center; height: 70px; font-family: 'Noto Sans KR'; font-size: 25px; margin-left: 160px; box-sizing: border-box; padding-top: 15px; color: #666;}
.link1:hover {border-color: black; color: black; font-size: 27px; transition: all 0.5s;}
.link2 {display: block; border: 2px solid black; width: 180px; text-align: center; height: 70px; font-family: 'Noto Sans KR'; font-size: 25px; margin-left: 160px; box-sizing: border-box; padding-top: 15px;}
.link2:hover {border-color: white; color: white; font-size: 27px; transition: all 0.5s;}
.link3 {display: block; border: 2px solid black; width: 180px; text-align: center; height: 70px; font-family: 'Noto Sans KR'; font-size: 25px; margin-left: 160px; box-sizing: border-box; padding-top: 15px;}
.link3:hover {border-color: white; color: white; font-size: 27px; transition: all 0.5s;}
.bg1 {width: 496px; height: 600px; position: absolute; top: 0; right: 0;}
/* banner1 f */
/* banner2 s */
#banner2 {height: 600px; background: #76eaee; position: relative; overflow: hidden;}
.img2 {width: 452px; height: 516px; position: absolute; top: 60px; left: 300px;}
.banner_text2 {width: 500px; height: 440px; box-sizing: border-box; text-align: center; position: absolute; top: 100px; right: 440px;}
.bg2 {width: 336px; height: 404px; position: absolute; top: 0px; right: -300px;}
/* banner2 f */
/* banner3 s */
#banner3 {height: 600px; background: #db87e6; position: relative; overflow: hidden;}
.img3 {width: 452px; height: 516px; position: absolute; top: 60px; left: 300px;}
.banner_text3 {width: 500px; height: 440px; box-sizing: border-box; text-align: center; position: absolute; top: 100px; right: 440px;}
.bg3 {width: 339px; height: 399px; position: absolute; top: 0px; right: -330px;}
/* banner3 f */
/* cont2 s */
#cont2 {height: 800px;}
.cont2_inner {width: 1320px; margin: 0 auto; box-sizing: border-box; position: relative; padding-top: 40px;}
.title2 {width: 280px; height: 60px; box-sizing: border-box; border: 2px solid black; font-family: 'Arial'; font-size: 30px; font-weight: bold; text-align: center; padding-top: 10px; margin-left: 520px;}
.box1 {width: 540px; height: 600px; box-sizing: border-box; background-color: black; position: absolute; top: 140px; left: 45px;}
.box2 {width: 540px; height: 600px; box-sizing: border-box; background-color: black; position: absolute; top: 140px; right: 45px;}
.main_poster {width: 250px; height: 300px; margin: 30px 145px;}
.poster_title {font-family: 'Arial'; font-size: 32px; color: white; text-align: center; margin-bottom: 40px;}
.poster_text {font-family: 'Noto Sans KR'; font-size: 15px; color: white; margin-left: 30px;}
/* cont2 f */
/* banner4 s */
#banner4 {height: 400px; background: url(../images/swim.jpg) -238px 0px no-repeat; background-attachment: fixed; position: relative; overflow: hidden;}
.slogan {position: absolute; top: 50%; left: 50%; margin-left: -235px; margin-top: -70px;}
/* banner4 f */
/* cont3 s */
#cont3 {height: 600px;}
.cont3_inner {width: 1320px; margin: 0 auto; box-sizing: border-box; position: relative; padding-top: 40px;}


/* cont3 f */
/* footer s */
#footer {height: 250px; background-color: black;}
.footer_inner {width: 1320px; margin: 0 auto; box-sizing: border-box; position: relative;}
.footer_text {font-family: '맑은고딕'; font-size: 13px; position: absolute; top: 30px; left: 0; color: white; line-height: 25px;}
.footer_ul {position: absolute; top: 30px; right: 0px;}
.footer_ul li {float: left;}
.footer_ul li img {width: 50px; height: 50px;}
.footer_ul li a {display: block; margin-left: 15px; opacity: 0.3;}
.footer_ul li a:hover {opacity: 1.0;}
.logo_footer {width: 140px; height: 60px; box-sizing: border-box; position: absolute; right: 0; top: 150px;}
/* footer f */
.gotop {width: 70px; height: 140px; box-sizing: border-box; position: fixed; bottom: 30px; right: 40px;}
.gotop:hover {transform: rotate(20deg); transition: 0.3s ease-in;}

.log_box {width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); position: fixed; top: 0; left: 0; display: none;}
.log {width: 300px; height: 180px; box-sizing: border-box; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; font-family: 'Noto Sans KR'; font-size: 14px; background-color: white;}   
.sign_box {width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); position: fixed; top: 0; left: 0; display: none;}
.sign {width: 300px; height: 180px; box-sizing: border-box; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; font-family: 'Noto Sans KR'; font-size: 14px; background-color: white;}
.id {width: 250px; margin-top: 15px; box-sizing: border-box; padding: 2px 5px;}
.submit_btn {display: inline-block; margin: 15px 0 30px 0; padding: 3px 10px; background-color: #333; color: white;}
.close {color: #333; text-decoration: underline; margin-left: 230px;}